* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

h6 {
     font-family: 'Pacifico', cursive;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 1px;
     color:#ff6600 ;
     display: block;
}
.title--color {
     color: white;
}
h3 {
     font-size: 38px;
     line-height: 48px;
     font-weight: 600;
}
h1,
h2,
h3,
h4,
h5
 {
     margin: 0;
     padding: 0;
     font-family: 'Quicksand', sans-serif;
}
p {
     margin: 0;
     padding: 0;
     font-size: 18px;
     line-height: 28px;
     color: #c2d0da;
     font-family: 'Quicksand', sans-serif;
   }

.title h3 {
     font-size: 38px;
     line-height: 48px;
     font-weight: 600;
}

/* About Us */
.about{
     background-color: #fff;
}
.about__left {
     margin-left: -30px;
}
.about .about__text {
     margin-left: 30px;
}

.about__text p {
     color: rgba(22, 28, 45, 0.7);
}

/* restaurants */
.restaurants {
     background: #ff6600;
     height: 600px;
}
.restaurants__img {
     background: url(../img/banner3.jpg) no-repeat center;
     background-size: cover;
     position: relative;
     z-index: 1;
     min-height: 600px;
     margin-top: -48px;
}
.restaurants__img::before {
     content: "";
     background: rgb(16 15 19 / 46%);
     position: absolute;
     top: 0;
     min-height: 100%;
     left: 0;
     right: 0;
     z-index: -1;
   }
   .restaurants__text {
        margin-top: -58px;
   }
   .subscribe-cat {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 40px;
   }
   
   .subscribe-cat .subscribe-cat-link {
     display: block;
     color: var(--heading-color);
     font-weight: 700;
     line-height: 1.2;
     margin-bottom: 15px;
     font-size: 20px;
   }
   
   .subscribe-cat .subscribe-cat-link:hover {
     opacity: 0.9;
   }
   
.subscribe-cat {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 30px;
     grid-gap: 30px;
   }
.restaurants  .icon{
     width: 70px;
     height: 70px;
     text-align: center;
     background: white;
     line-height: 70px;
     border-radius: 10px;
     color: #ff6600;
     transition: 0.3s ease-in-out;
   }
.icon:hover span {
    color: #ffc600;
}


/* What New */
.whatnew {
     background: #f7f7f7;
}
.whatnew__img {
     position: relative;
}
.whatnew__img::before {
     content: '';
     position: absolute;
     background: rgba(68, 66, 66, 0.603);
     bottom:  0;
     left: 0;
     width: 100%;
     height: 40%;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
     transition-duration: 300ms;
     transition-property: all;
     transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
     border-radius: 6px;
}
.whatnew__img img {
     display: block;
     margin: 0 auto;
     text-align: center;
     width: 100%;
     border-radius: 6px;
}
.whatnew__text {
     left: auto;
     bottom: 0;
     width: 95%;
     padding: 0 10px;
     position: absolute;
     opacity: 1;
     color: #fff;
     transform: translate3d(0, 10%, 0);
     transition: opacity 0.3s;
}
.whatnew__text a{
     text-decoration: none;
}

.whatnew img:hover {    
     opacity: 0.85;
     transition: all 0.4s;
}

.whatnew__text h4{
     color: white;
     font-size: 22px;
     font-weight: 700;
     text-decoration: none;
 }
 .whatnew__text h6{
     color: #ffc600;
     font-size: 18px;
     font-weight: 600;
     letter-spacing: 1px;
 }


 /* services */
.services__item {
     border-radius: 10px;
}
.box-wrap-grid {
     display: grid;
     grid-template-columns: auto 1fr;
     grid-gap: 30px;
}
.box-wrap:hover .services__icon {
     background-color: #ff6600;
  transition: 0.3s ease-in-out;
}
.box-wrap {
     padding: 40px 40px;
     transition: all 0.5s ease 0s;
     border-radius: 8px;
     box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
     background-color: white;
     position: relative;
     border: 1px solid #eee;
   }
.box-wrap:hover {
     box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
   }
.box-wrap:hover .services__icon span.fa {
     color: #fff;
     transition: 0.3s ease-in-out;
}
.box-wrap:hover .services__icon {
     color: #ff6600;
     transition: 0.3s ease-in-out;
}
.services__icon {
     width: 70px;
     height: 70px;
     text-align: center;
     background: rgba(130, 115, 252, .05);
     line-height: 70px;
     border-radius: 10px;
     transition: 0.3s ease-in-out;
}

.box-wrap h4 a {
     font-size: 24px;
     font-weight: 600;
     margin-top: 5px;
     margin-bottom: 0px;
     display: block;
     text-decoration: none;
     color: #000;
   }
   
.box-wrap h4 a:hover {
     color: #ff6600;
}
.box-wrap p{
     color: #000;
     opacity: 70%;
}









   @media all and (max-width:992px) {
     .subscribe-cat {
       display: grid;
       grid-template-columns: 1fr 1fr;
       margin-top: 30px;
       grid-gap: 20px 10px;
     }
   
     .subscribe-cat .subscribe-cat-link {
       font-size: 18px;
     }
     .restaurants__img {
   
         min-height: 200px;
     }
   }








/* Deliciousness */

.deliciousness {
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
}

.deliciousness__dark {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.deliciousness__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.deliciousness__content h3 {
    color: white;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
    margin-bottom: 40px;
}

.deliciousness__buttom #btn1 {
    padding: 15px 35px;
    margin-right: 20px;
}

.deliciousness__buttom #btn2 {
    background-color: #ff6600;
    color: white;
    padding: 15px 35px;
}

.deliciousness__buttom #btn2:hover {
     color: #fff;
     background-color: #ff6600;
     opacity: 0.8;
}

/* NUMBER */

.number {
    position: relative;
    margin-top: -70px;
    z-index: 10;
}

.number__bg{
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
    transition: all .5s;
    transform: translateY(0);
    
}

.number__bg:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 15%);
}

.number__bgicon {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.counter {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 2;
    color: black;
}

.number__bg p {
    color: #161c2db3;
    font-size: 1.1em;
    font-weight: 600;
}

.number__bg span:first-of-type {
    background: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

/* VIDEO */
.video {
     padding: 40px 0;
}

.video__popup {
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: 5px;
}

.video__bgdark {
    contain: "";
    background: #100f1399;
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 5px;
}

.video__popup a {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ff6600;
    z-index: 100;
}

.video-play-icon {
    display: inline-block;
    background-color: white;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transform: scale(1);
    transition: 0.3s;
    
    animation: ripple 1s linear infinite;
}

.video-play-icon:hover {
    transform: scale(1.2);
    background-color: #ff6600;
}

.icon-second {
    display: none;
}

.video-play-icon:hover .icon-second {
    display: inline-block;
    color: white;
}

.video-play-icon:hover .icon-first {
    display: none;
}

#small-dialog {
    display: none;
}

/* BLOG */
.blog {
     padding: 3rem 0;
     background-color: #f7f7f7;
}

.blog__title {
     text-align: center;
}

.card {
     border: none;
     margin-top: 50px;
}

.card__img {
     position: relative;
     display: block;
}

.card__img img {
     border-radius: 5px;
     cursor: pointer;
}

.card__pos {
     position: absolute;
     bottom: 10px;
     left: 10px;
}

.card__pos a {
     background: #ff6600;
     color: #fff;
     padding: 3px 20px;
     border-radius: 35px;
     font-weight: 700;
     font-size: 12px;
     margin-bottom: 5px;
     display: inline-block;
     letter-spacing: .05em;
     text-decoration: none;
     cursor: pointer;
}

.card__pos span {
     color: #fff;
     margin-left: 10px;
     font-size: 15px;
     letter-spacing: .02em;
}

.card__body h5 {
     cursor: pointer;
     display: block;
     font-size: 24px;
     line-height: 34px;
     font-weight: 600;
     color: #232121;
     margin-top: 25px;
     margin-bottom: 15px;
}

.card__body p {
     display: block;
     font-size: 18px;
     line-height: 28px;
     color: rgba(22, 28, 45, 0.7);;
     font-family: 'Quicksand', sans-serif;
}

.card__footer {
     display: grid;
     grid-auto-flow: column;
     justify-content: space-between;
     align-items: center;
     margin-top: 1rem;
}

.card__footer .footer__img {
     display: grid;
     align-items: center;
     grid-auto-flow: column;
     grid-gap: 10px;
     justify-content: flex-start;
}

.card__footer .footer__img img {
     width: 40px;
     height: 40px;
     display: block;
     overflow: hidden;
     border-radius: 50%;
}

.card__footer a {
     text-decoration: none;
     color: #232121;
     font-weight: 700;
     letter-spacing: .02em;
}

.btn__hv {
     display: block;
}

.btn__hv:hover {
     color: #ff6600;
}


/* Testimonials */

.testimonials {
     display: block;
     text-align: center;
     padding-top: 3rem;
}

.testimonials__title {
     margin-bottom: 3rem;
}

.testimonials__content {
     max-width: 700px;
     margin: auto;
}

.testimonials__content img {
     width: 85px !important;
     height: 85px;
     object-fit: cover;
     object-position: center;
     cursor: pointer;
     border-radius: 50%;
     text-align: center;
     margin: 0 auto;
     margin-bottom: 20px;
}
.testimonials__content blockquote {
     margin-bottom: 1rem;
}

.testimonials__content q {
     font-size: 24px;
     line-height: 36px;
     color: #232121;
     font-weight: 600;
     font-style: italic;
     letter-spacing: 1px;
}

.testimonials__content q::before {
     content: open-quote;
     font-size: 50px;
     color: #ff6600;
     display: block;
     font-style: initial;
}

.testimonials__content p {
     font-size: 18px;
     line-height: 28px;
     color: rgba(22, 28, 45, 0.7);
}

.testimonials__name {
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
}

.testimonials__name h3 {
     font-weight: 600;
     font-size: 20px;
     color: #232121;
     line-height: 1.2;
}

.testimonials__name p {
     margin-top: 4px;
}


/* FOOTER */

.footer {
     background-color: #000;
}

.footer__logo a {
     text-decoration: none;
     color: white;
     font-size: 30px;
     font-weight: 600;
}

.footer__logo a:hover {
     color: #ff6600;
}

.footer__content p {
     font-size: 17px;
     line-height: 26px;
     color: #a5a2a1;
     text-align: left;
}

.social {
     display: inline-block;
     width: 36px;
     height: 36px;
     line-height: 36px;
     background-color: white;
     border-radius: 6px;
     text-align: center;
     color: #ff6600;
     margin-right: 10px;
}

.footer__social a:hover {
     background-color: #ff6600;
     color: white;
}

.footer__title {
     font-size: 22px;
     line-height: 28px;
     margin-bottom: 30px;
     font-weight: 700;
     color: #fff;
     font-family: 'Quicksand', sans-serif;
}

.footer__content li {
     list-style: none;
     margin-bottom: 10px;
     
}

.footer__content li a {
     text-decoration: none;
     color: #a5a2a1;
}

.footer__content li a:hover {
     color: #ff6600;
}

#footer__email {
     padding: 14px 20px;
     font-size: 18px;
     line-height: 28px;
     border: 1px solid transparent;
     outline: none;
     width: 100%;
     color: rgba(22, 28, 45, 0.7);
     background: white;
     border-radius: 6px;
}

.subscibe {
     display: inline-block;
     width: 100%;
     background-color: #ff6600;
     padding: 12px 45px;
     font-size: 16px;
     line-height: 30px;
     font-weight: 700;
     transition: 0.3s ease-in;
     border-radius: 6px;
     border: 2px solid transparent;
     color: white;
}

.subscibe:hover {
     color: #fff;
     background-color: #ff6600;
     opacity: 0.8;
}


/* COPYRIGHT */

.copyright {
     background-color: #000;
     padding: 1.2em 0;
     border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyright ul {
     display: flex;
     list-style: none;
     text-align: right;
     justify-content: space-between;
}

.copyright a {
     text-decoration: none;
     color: #a5a2a1;
}

.copyright__left a {
     color: #ff6600;
}

.copyright__left a:hover {
     color: white;
}

.copyright__right a:hover {
     color: #ff6600;
}


/* BACKTOTOP */

.backToTop {
     position: fixed;
     bottom: 55px;
     right: 20px;

     display: block;
     width: 50px;
     height: 50px;
     line-height: 50px;
     text-align: center;
     font-size: 18px;
     color: white;
     background-color: #ff6600;
     border-radius: 50%;
     border: none;
     text-decoration: none;
     opacity: 0;
     visibility: hidden;
     z-index: 200;
     
}

.cd-top--is-visible {
     visibility: visible;
     opacity: 1;
}











@-webkit-keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
  
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }



